body{
    background: linear-gradient(10deg, rgb(6, 1, 53) 20%, rgba(62, 1, 97, 0.8) 80%, rgb(90, 0, 56)) no-repeat;
    color: white;
    height: 100vh;
}
.wrapper{
    display: flex;
    flex-direction: row;
}

.right{
    display: flex;
    width: 50vw;
    height: 75vh;
    justify-content: center;
    flex-direction: column;
    align-items: center; 

}

.left{
    display: flex;
    width: 50vw;
    height: 75vh;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

.header{
    font-family: 'Montserrat', serif;
}

.sub-header{
    font-family: 'Montserrat', serif;
}

.sub-header-content{
    width: 70%;
    margin-top: 30px;
}

.bcard{
    height: 180px;
    width: 350px;
    box-shadow: 5px 5px 60px #000000;
    padding: 10px;
    border-radius: 15px;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);;
    /* background: linear-gradient(100deg, rgba(34,193,195,1) 10%, rgba(253,187,45,1) 100%); */
    color: black;
}

.bcard-content{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-left: 20px;
    height: 100px;
}

.justify-text{
    text-align: justify;
}

.content{
    margin-top: 30px;
    width: 70%;

}

.logo{
    display: flex;
    justify-content: flex-end;
}

.name-section{
    display: flex;
    justify-content: space-between;
}

.card-type{
    font-size: 20px;
}

.card-number{
    font-size: 20px;
    color: rgba(2, 79, 110, 0.397);
    text-shadow: 0px 1px 0px rgb(0, 82, 150);
}

.lgroup{
    margin-top: 60px;
    background: transparent;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

.about-link{
    text-decoration: none;
    color: white;
}

.signup-header{
    font-family: 'Montserrat';
}

.signup-wrapper{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.card-holder-name{
    font-size: 15px;
    color: rgb(2, 80, 110);
    text-shadow: 0px 1px 0px rgba(150, 150, 150, 0.5);
}

.nav-color{
    color: white;
}

@media screen and (max-width: 1000px) {
    body{
        height: auto;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .right {
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .left {
        display: flex;
        justify-content: center;
        width: 100vw;
    }
}